footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 24px;
  background: var(--ac1);
  transition: 0.3s;
}
footer div p {
    color: var(--constBlack);
    padding: 5px;
}