*{
      margin: 0;
    padding: 0;
  box-sizing: border-box;
}

:root {
    --constWhite:#f1f1f1;
    --constBlack:#1a1a1a;
    --alert: red;
    --success: rgb(45, 241, 45);

    --aside: #262b32;
    --bg: #010b13;
    --ac1:#f9d342;
    --asMain:#1a1a1a;
    --asAlt:#f1f1f1;
    --text: #f1f1f1;

}
.dark {
    --constWhite:#f1f1f1;
    --constBlack:#1a1a1a;
    --alert: red;
    --success: rgb(45, 241, 45);

    --aside: #f3e2c7;
    --bg: #ebf1f5;
    --ac1: #e6a341;
    --asMain:#f1f1f1;
    --asAlt:#1a1a1a;
    --text: #1a1a1a;

}
.nav-links{
    display:flex;
    align-items:center;
    gap:15px;
    color: var(--constBlack);
}
main {
    display: flex;
    flex: 1;
}

section{
    width: 90%;
    background-color: var(--Main);
    height: 80dvh;
    flex:9;
    transition: 0.3s;
}
aside{
    position: sticky;
    width: 10%;
    background-color: var(--aside);
    flex:1;
    transition: 0.3s;
}
ul{
    padding: 15px 30px;
}
li{
    font-size: larger;
    
}
li:hover{
    font-size: larger;
    color: var(--ac1);
}

a{
    color: var(--text);
    transition: 0.3s;
}
a:hover{
    font-size: x-large;
}
ul a:hover{
    color: var(--ac1);
    text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--ac1);
  cursor: pointer;
    transition: 0.3s;
}
.logo img {
  width: 50px;
  height: 50px;
}
.theme-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--ac1);
  cursor: pointer;

  transition: 0.3s;
}
.theme-btn img {
  width: 24px;
  height: 24px;

  transition: 0.3s;
}
.theme-btn:hover {
  transform: scale(1.4);
}

.theme-btn:active {
  transform: scale(0.95);
}

